.customButton {
  min-width: 100px;
  min-height: 30px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg);
  color: var(--font-color);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--btn-bg);
  }

  &:hover:not(:disabled) {
    background-color: var(--btn-bg-hover);
  }
}