@use '@/styles/fonts' as *;

* {
  margin: 0;
  padding: 0;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: #{$default-bg-color};
  --font-color: #{$color-black};
  --icon-color: #{$color-black};
  --icon-color-hover: #{$color-grey-2};
  --closed-cell: #{$color-beige-2};
  --closed-cell-hover: #{$color-beige-3};
  --opened-cell-bcg: #{$color-beige-0};
}

.dark-theme {
  --bg-color: #{$dark-bg-color};
  --font-color: #{$color-white};
  --icon-color: #{$color-grey-1};
  --closed-cell: #{$color-beige-4};
  --closed-cell-hover: #{$color-beige-6};
  --opened-cell-bcg: #{$color-beige-1};
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 16px;
  line-height: 19.49px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
