@use '@/styles/fonts' as *;

* {
  margin: 0;
  padding: 0;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: #{$default-bg-color};
  // --font-color: #{$color-black};
  // --font-secondary-color: #{$secondary-color};
  // --menu-bg-color: #{$default-bg-color};
  // --cell-color: #{$app-cell-color};
  // --error-color: #{$color-danger};
  // --form-label-color: #{$text-color-grayish-blue};
  // --color-border-green: #{$color-border-green};
  // --color-comment-bg: #{$color-comment-bg};
}

.dark-theme {
  // --bg-color: #282A2E;
  // --font-color: #fff;
  // --menu-bg-color: #444;
  // --cell-color: #555;
  // --font-secondary-color: #bbb;
  // --error-color:#FF9E9E;
  // --form-label-color:#bbb;
  // --form-input-bg: #666;
  // --color-border-green: #8f8f8f;
  // --color-comment-bg: #666
}

body {
  background-color: var(--bg-color);
  // background-image: linear-gradient(to right, var(--cell-color) 1px, transparent 1px),
  //   linear-gradient(to bottom, var(--cell-color) 1px, transparent 1px);
  // background-size: $app-cell-size $app-cell-size;
  // color: var(--font-color);
  font-size: 16px;
  line-height: 19.49px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
