@use "sass:map";

$cell-size: 50px;

$default-bg-color: #DAD3D2;
$dark-bg-color: #282A2E;

$color-white: #fff;
$color-black: #000;
$color-grey-1: #999;
$color-grey-2: #666;

$color-beige-0: #f0f0f0;
$color-beige-1: #e3dede;
$color-beige-2: #C0B5B5;
$color-beige-3: #b4a7a7;
$color-beige-4: #a99999;
$color-beige-5: #9d8c8c;
$color-beige-6: #857171;

$error-color: #D8474A;

$number-colors: (
  1: #0000F7,
  2: #027701,
  3: #EC0001,
  4: #000080,
  5: #800000,
  6: #008080,
  7: #000000,
  8: #707070,
)