@use "sass:map";

.cell {
  width: $cell-size;
  height: $cell-size;
  background-color: var(--opened-cell-bg);
}

.closed {
  background-color: var(--closed-cell);
  cursor: pointer;

  &:hover {
    background-color: var(--closed-cell-hover);
  }
}

.press {
  background-color: var(--closed-cell-hover);
}

.bang, .errorFlag {
  background-color: $error-color;
}

.numberInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc($cell-size * 0.8);
  font-weight: bold;

  @for $i from 1 through 8 {
    &-#{$i} {
      color: map.get($number-colors, $i);
    }
  }
}
